.Home {
    Font: Arial;
    Color: "8DA1FA"
}

.Logotitulo {
    src:"https://companiesmarketcap.com/img/company-logos/256/BIMBOA.MX.png";
    width: 200px;
    height: 100px;
}

.titulo1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin: 90px 0 30px;
    text-align: left;
}